body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 3em;
    max-width: 90%;

}

.veci {
    padding: 2rem;
    background: black;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    color: rgb(8, 196, 0);
}

.in-content {
    outline: solid;
    outline-color: rgb(8, 196, 0);
    outline-offset: 20px;
    outline-width: 10px;
    border-radius: 5px;
    height: 30em;
    padding: 10px;
}

.nadpis {
    font-size: 40px;
    margin-top: 10px;
}

.output-card {
    display: none;
}

.numInput {
    width: 5%;
}

.navbar {
    min-height: 4em;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-nav {
    font-size: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}